@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

@import './reset.css';

:root {
  --primary-color: #2b3844;
  --secondary-color: #fff;
  --bg-color: #202c36;

  color-scheme: light dark;
  color: var(--secondary-color);
  background-color: var(--bg-color);

  font-family: 'Nunito', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html.light {
  --primary-color: #fff;
  --secondary-color: #111517;
  --bg-color: #fafafa;
}

html {
  background: var(--bg-color);
  color: var(--secondary-color);
  transition: var(--basic-transition);
}

*,
*:after,
*:before {
  box-sizing: border-box;
  user-select: none;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}
